
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <div id="graph"></div>
        <button onclick="javascript:randomize();">Randomize!</button>
    </body>
    <style type="text/css">
        button {
          position: absolute;
          top: 10px;
          left: 10px;
          z-index: 1;
    }
    </style>
    <script type="text/javascript">
        var x_array = [1];
        var y_array = [0];
        var cur_ind = 1;

        Plotly.newPlot('graph', [{
          x: x_array,
          y: y_array,
          line: {simplify: false},
        }], {}, {showSendToCloud:true});

    function re_render() {
      Plotly.animate('graph', {
        data: [{y: y_array},{x : x_array}],
        traces: [0],
        layout: {}
      }, {
        transition: {
          duration: 1000,
          easing: 'cubic-in-out'
        },
          frame: {
              duration: 1000
          }
      })
    }
    function loadDoc() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
           var a = parseFloat(this.responseText);
           var cur_x = x_array.length;
           x_array.push(cur_x);
           y_array.push(a);
           cur_ind += 1;
           re_render();
        }else{
           // error handling 
        }
          setTimeout(loadDoc, 1000);
      };
      xhttp.open("GET", "./loadDoc?id=" + cur_ind.toString(), true);
      xhttp.send();
    }

     setTimeout(loadDoc, 1000);


    </script>

</html>

